# Entornos virtuales y secretos (ESTOS SÍ SE IGNORAN)
venv/
env/
.env

# Archivos compilados de Python (BASURA DEL SISTEMA)
__pycache__/
*.pyc

# NOTA: La carpeta data/ y los archivos .csv ESTÁN PERMITIDOS
# explícitamente para este ejercicio académico.
